:root {
    --page-margin: 0px 150px;
    --cta-padding: 8px 17px; 
    --cta-radius: 19px;
    --brand-color: rgb(255, 94, 0);
}

body {
    margin: 0 auto;
}
header {
    display: flex;
    padding: var(--page-margin);
    font-family: 'Roboto', sans-serif;
    background: black;
}
.left_nav_wrapper {
    margin-left: 160px;
}
.header_nav_left {
    display: flex;
}
.right_nav_wrapper {
    margin-left: 90px;
}
.header_nav_right {
    display: flex;
}
ul {
    list-style: none;
}
.left-nav-li {
    margin-right: 60px;
}
.header-text{
    font-weight:200;
    text-decoration: none;
    color: white;
}
.header-text:hover {
    color: var(--brand-color);
    transition: 0.3s;
}
.login_cta {
    margin-right: 20px;
}
.logo-txt {
    font-weight: 900;
    color: white;
}
.page_btn{
    padding: var(--cta-padding);
    border-radius: var(--cta-radius);
    color: black;
    background: white;
    text-decoration: none;
}
.page_btn:hover {
    background: rgb(221, 221, 221);
    transition: 0.3s;
}
main {
    margin-top: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.info-wrapper {
    margin: var(--page-margin);
}
.info_heading {
    margin: 0 auto;
    font-size: 50px;
    max-width: 450px;
}
.text-color {
    color: var(--brand-color);
}
.info_sub-heading {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 600px;
    font-size: 17px;
}
.info_cta {
    margin-top: 28px;
}
#app_get_started_btn {
    background: black;
    color: white;
    padding: var(--cta-padding);
    border-radius: var(--cta-radius);
    text-decoration: none;
}
#app_get_started_btn:hover {
    background: var(--brand-color);
    transition: 0.3s;
}
.info_img {
    margin-top: 20px;
}
.products-wrapper {
    background: black;
    color: white;
    padding: 30px 150px 150px 150px;
}
.products-heading {
    padding-top: 50px;
    font-size: 40px;
    max-width: 600px;
    text-align: left;
}
.rect {
    border: 4px solid rgb(39, 38, 38);
    border-radius: 20px;
    margin: 0px 180px;
    height: 200px;
}
.rect_sub-heading {
    letter-spacing: 15px;
    font-size: 13px;
    margin-top: 30px;
}
#dial_code {
    margin-top: 40px;
    margin-right: 20px;
}
#dial_code {
    /* first render*/
    height: 35px;
    width: 70px;
    border-radius: 10px;
    background: var(--brand-color);

    /*second render*/ /*UNCOMMENT TO HAVE DESIGN IN LAST SCREENSHOT AND COMMENT BACKGROUND ABOVE*/
    /* background-color: rgb(39, 38, 38);
    color: white;
    border: 0;
    border-bottom: 2px solid var(--brand-color); */
}
.input-box {
    /* first render*/
    height: 40px;
    width: 400px;
    border-radius: 7px;
    background: black;
    color: white;

    /* second render */ /*UNCOMMENT TO HAVE DESIGN IN LAST SCREENSHOT AND UNCOMMENT COLOR BELOW*/
    /* background-color: rgb(39, 38, 38); */
    /* border: 0px; */
    /* border-bottom: 2px solid var(--brand-color); */
}
.input-box::placeholder {
    letter-spacing: 3px;
    padding-left: 15px;
    /* color: white; */
}
#carrier-img {
    position: relative;
    /* max-width: 100%; */

}
#carrier-img > img {
    position: absolute;
    right: 10px;
    bottom: -10px;
    width: 35px;
    border-radius: 3px;
    /* height: 25px; */
}
.product_overview_wrapper {
    padding-top: 50px;
}
.overview_heading {
    font-size: 30px;
    color: var(--brand-color);
    padding-bottom: 50px;
}
.product_overview1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin: 0px 80px;
}
.product_overview2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 80px;
    margin-top: 100px;
    column-gap: 40px;
}
.products {
    background: rgb(12, 12, 12);
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}
.products:hover {
    border: 2px solid var(--brand-color);
    cursor: pointer;
}
.product-icon {
    width: 35px;
    position: sticky;
    /* right: 1500px; */
    margin-top: 30px;
    /*margin-left: 35px; */
}
/*use icons with same sizes and delete all these other width below*/ 
#e-card {
    width: 40px;
}
#airtime {
    width: 30px;
}
.product-details {
    /* text-align: left; */
    margin: 0px 35px;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
}
.text_heading {
    font-size: 20px;
}
.text_sub-heading {
    font-size: 13px;
}
footer {
    font-family: 'Roboto', sans-serif;
    margin: var(--page-margin);
    padding-top: 70px;
}
.ft-top {
    display: grid;
    grid-template-columns: 485px 240px 240px 240px;
}
.ft-logo {
    font-size: 25px;
}
.ft-deets {
    color: grey;
}
.ft-section-title {
    font-size: 17px;
}
.ft-nav_link, .address_txt {
    text-decoration: none;
    color: gray;
    font-size: px;
}
.ft-nav_link:hover {
    color: var(--brand-color)
}
.bottom-footer-wrapper {
    padding: 20px 0px;
    color: grey;
    font-size: 13px;
    border-top: 1px solid rgb(196, 196, 196);
    margin-top: 100px;
}
.bottom-footer {
    display: flex;
}
.link-wrapper {
    margin-left: 70px;
}
.more-nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: var(--brand-color);
}
.more-nav-link:hover {
    color:gray;
}